.no-margin-bottom {
    margin-bottom: 0px !important;
}

@media only screen and (max-width: 640px) {
   
    #header h1.site-title .intro h1 { font-size: 24px; }
  }

.silicons {
    width: 100px;
    height: 100px;
    margin: 0px 5px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
}